* {
    box-sizing: border-box;
}

body {
    font-family: 'Indie Flower', cursive;
    background-image: url(../assets/Koala-and-Bear-Web-Logo-Characters.png);

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: left 500px bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.jumbotron {
    background: none;
    padding: 2rem;
    margin-bottom: 0;
}

.card {
    background-color: #ffffff;
    padding: 5px 20px;
    margin: 20px auto;
}

.card-text {
    text-align: justify;
}

/* .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
} */


/* FAQ */
h1 {
    border-bottom: solid 4px black;
}

h3 {
    border-bottom: solid 1px grey;
}

h3 span {
    float: right;
    transition: transform 1s;
}

h3 span.open {
    transform: rotate(180deg);
}

/* Button */
.btn {
    font-size: 25px;
    font-weight: 800;
    padding: 8px 22px;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
    transition: transform 0.4s, box-shadow 0.4s;
}

.btn:hover {
    /* background-color: #fff; */
    transform: translateY(-10px);
    /* putting shadow underneath the button x y rgbacolour*/
    box-shadow: 0 10px 8px rgba(0,0,0,0.4);
}